/MPDD-AVG2026-trainval
/MPDD-AVG2026-test
/MPDD-AVG2026-raw
/checkpoints
/logs
/.hfd
/__pycache__
/.idea
/OSmodels
*.pth
*.DS_Store
*.log
*.zip
*.tar.gz
*.egg-info
*.egg
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.ipynb_checkpoints
*.vscode
*.env
*.venv
*.envrc
/runs